.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.content > *{
  flex-grow: 1;
}

.margin-header > *{
  margin-top: clamp(12rem, 4.2500rem + 10.0000vw, 14.25rem);
}

@media screen and (max-width:800px) {
  .margin-header > * {
    margin-top: 6rem !important;
  }
}