.top-post-main{
  color: white;
  text-align: left;
  font-family: Domine;
  display: flex;
  gap:  clamp(1rem, -0.4318rem + 6.3636vw, 2.75rem);
  flex-direction: column;
  justify-content:space-between;
  padding-top:clamp(4rem, -3.2727rem + 14.5455vw, 8rem);
}

.top-post-main >h2{
  text-transform: uppercase;
  font-size: clamp(1.1rem, 0.8909rem + 1.75182vw, 2rem);
  font-family: Karla;
}

.top-post-main > p{
  font-size: clamp(2rem, 0.2655rem + 7.7091vw, 4.12rem);
  text-decoration: none;
  color: white
}

.top-post-main > p > a{
    text-decoration: none;
    color: white;
    transition: color 0.1s ease-in;
}

.top-post-main > p > a:hover{
  color: var(--clr-red);
}

.top-post-bottom{
  display: flex;
  flex-direction:column;
  gap: 1.5rem;
}

.top-post-author-time{
  font-family: Karla;
  font-size: clamp(0.85rem, 0.7273rem + 0.5455vw, 1rem);
}

.top-post-author-time>span:nth-child(1){
  font-weight: 200;
}

.top-post-author-time>span:nth-child(2){
  color:var(--clr-red);
  font-weight: 900;
}


.top-post-view-comms{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  gap: 0.7rem;
  font-size: clamp(0.85rem, 0.7273rem + 0.5455vw, 1rem);
}

.vertica-sep-{
  height: clamp(0.85rem, 0.7273rem + 0.5455vw, 1rem);
  width: 1px;
  background-color:white;
}


/*fading*/



.top-post-main.fade-in{
  transition: opacity 2s ease;
  opacity: 1;
}


@media screen and (max-width:1240px){
  .top-post-main {
    padding-left: 5rem;    
  }
}

@media screen and (max-width:800px){
  .top-post-main {
    align-items: center;
    padding: .5rem 0px;    
    text-align: center;
  }
  .top-post-view-comms {
    justify-content: center;
  }
}