.header {
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 200px;
  max-height: 400px;
  background-color: rgba(0, 0, 0, 0.336);
  font-size: clamp(0.8rem, 0.6000rem + 0.8000vw, 1rem);;
  font-family: Karla;
  backdrop-filter: blur(15px);
  color: white;
  z-index: 9999;
}

.bgr-header-c{
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 10px);
  top: -10px;
  right: -10px ;
  background-color: rgba(0, 0, 0, 0.336);
  object-fit: cover;
}

.bgr-header {
  overflow: hidden;
  width: calc(100% + 20px);
  -webkit-filter: blur(8px);
  -moz-filter:    blur(8px);
  -o-filter:      blur(8px);
  -ms-filter:     blur(8px);
  filter:         blur(8px);
}

@-moz-document url-prefix(){
  .header{
    background-color:rgb(46, 46, 46);
  }
  .nav-bar{
    background-color:rgb(46, 46, 46);
  }
}

.wrapper-header >hr{
  width:200vw;
  transform:translate(-200px);
  filter: blur(1px);
  height: 1px;
  border-width: 0;
  background-color:white;
  margin: clamp(2px, 0.8vw + 0.2rem , 7px) 0;
}

@media screen and (max-width:1240px) {
  .header{
    padding: 0 2rem;
  }
  .bgr-header-c{
    display: none;
  }
}

@media screen and (max-width:800px) {
  .wrapper-header > hr {
    display: none;
  }
  .wrapper-header{
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}