.square-post-frame {
  display:flex; 
  gap: 18px;
  background-color: #fff;
  text-align:left;
  color: black;
  cursor:pointer;
}

.square-post-frame-img{
  display: flex;
  transition: filter 170ms ease-in-out;
  position: relative;
}

.square-post-frame-img>div{
  width:  5.5rem;
  height: 5.5rem;
  object-fit:cover;
}

.square-post-frame-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Domine;
  font-size: 0.875rem;
  font-weight: bold;
}

.square-post-frame-bottom{
  display: flex;
  font-size: 0.75rem;
  gap: 10px;
  font-weight: normal;
}

.time-since-posted {
  color: #ABABAB;
}
.square-post-frame:hover {
  color: var(--clr-red);
}

.square-post-frame:hover > .square-post-frame-img {
  filter:brightness(80%)
}

.play-btn {
  position: absolute;
  top:    35%;
  bottom: 35%;
  right:  35%;
  left:   35%;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}

@media screen and (max-width:800px) {
  .square-post-frame-img>div {
    width:  clamp(5.5rem, 4.2727rem + 5.4545vw, 7rem);
    /* max-width: 200px; */
    flex-grow: 1;
    /* width: max-content; */
    height: clamp(5.5rem, 4.2727rem + 5.4545vw, 7rem);

  }
  .square-post-frame-text {
    font-size: clamp(0.9rem, 0.0818rem + 3.6364vw, 1.9rem);
  }
}

@media screen and (max-width:480px) {
  .square-post-frame-img>div {
    width:  clamp(5.5rem, 4.2727rem + 5.4545vw, 7rem); 
    flex-grow: 0; 
    height: clamp(5.5rem, 4.2727rem + 5.4545vw, 7rem);

  } 
} 
